.admin-layout {
  max-width: 1240px;
  margin: 1rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: 1rem;
}

.admin-layout-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 0;
}

@media (max-width: 980px) {
  .admin-layout {
    grid-template-columns: 1fr;
  }
}
